@tailwind base;
@tailwind components;
@tailwind utilities;




body{
  background-color: #09090B;
}
.shoppingCartScroll::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  background-color: #09090B;
}

.shoppingCartScroll::-webkit-scrollbar-thumb {
  background-color: #3F3F46; 
  border-radius: 8px; 
}

.shoppingCartScroll::-webkit-scrollbar-thumb:hover {
  background-color: #4a4a4f;
}

@keyframes open {
  from {
    transform: translateX(93%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(93%);
  }
}
.close{
  animation-name: close;
  animation-duration: 1s;
}
.open{
  animation-name: open;
  animation-duration: 1s;
}

